.s3-container{
    display: grid;
}
/* ------------------ */
.img-container {
   display: grid; 
   width: 100%;
}

.image-wrapper{
    margin-block: 1rem;
    position: relative;
}

.title {
    position: absolute;
    bottom: 10%;
    left: 30%;
    transform: translateX(-50%);
    color: white;
    font-size: 24px;
    font-weight:lighter;
    text-transform: uppercase;
    z-index: 2;
    text-align: center;
}
.s3-btn{
    padding-inline: 2rem;
    padding-block: 7px;
    border: solid 2px #000;
    background-color: transparent;
    margin-inline: 30%;
    transition: 400ms;
}
.s3-btn:hover{
    background-color: #000;
    color: white;
}
/* ----------------------- */

@media (min-width : 576px){
    .img-container {
        display: grid; 
        grid-template-columns: repeat(4,25%);
        gap: 1rem;

    }
    .s3-btn{
        position: absolute;
        top: calc(85rem + 12px);
        right: -10rem;
    }

}