@media(min-width : 600px){
    .s2-container{
        padding-top: 15%;
        position: relative;
    }
    .s2-content{
        position: absolute;
        /* border: solid 2px red ; */
        width: 50%;
        top: 67%;
        right: 0%;
        background-color: white;

    }
}