.section2-container{
    margin-top: 6rem;
    height: 100vh;
}
.section2-content{
    text-align: center;
    margin-top: 4rem;
}
.section2-text-container{
    text-align: center;
}
.vrGuyImg{
    margin-left: 0;
}

@media (min-width : 576px) {
    .section2-content{
        position: absolute;
        width: 700px;
        height: 350px;
        top: 64rem;
        right: 1rem;
        padding-top: 3rem;
        padding-inline: 2rem;
        /* border: solid 2px red; */
        background-color: white;
    }
    .section2-container{
        margin-top: 10rem;
    }
    .vrGuyImg{
        margin-left: 15rem;
    }
}